.promo {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: left;
  position: absolute;
}

.promo__background {
  background: url(../../images/promo__title-photo.png) no-repeat center;
  background-size: 100% 100%;
  width: 100%;
  height: 1162px;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.promo__title {
  margin: 0 auto 0;
  padding: 320px 0 0;
  max-width: 1140px;
  width: 89%;
  z-index: 10;
  position: relative;
  font-size: 65px;
  font-weight: 300;
  line-height: 1.2;
}

.promo__subtitle {
  max-width: 1140px;
  width: 89%;
  margin: 10px auto 0;
  z-index: 10;
  position: relative;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
}

@media screen and (max-width: 1024px) {
  .promo__background {
    height: 800px;
  }

  .promo__title {
    width: 92.18%;
    /* font-size: px; */
  }

  .promo__subtitle {
    width: 92.18%;
  }
}

@media screen and (max-width: 767px) {
  .promo__background {
    background-size: auto 100%;
  }
  .promo__title {
    width: 91.11%;
    font-size: 35px;
    padding-top: 250px;
  }

  .promo__subtitle {
    width: 91.11%;
    font-size: 15px;
    margin-top: 5px;
  }
}
