.header {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  padding: 16px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #fff;
  position: fixed;
  z-index: 99;
}

.header__logo {
  width: 40px;
  height: 40px;
}

.header__list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header__link {
  font-size: 13px;
  line-height: 1.3;
  font-weight: 400;
}

.header__menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 92.18%;
    padding: 15px 0;
  }

  .header__nav {
    display: none;
  }

  .header__menu {
    display: block;
    background: url("../../images/header__icon.svg") no-repeat center;
    background-size: 100% 100%;
    width: 44px;
    height: 44px;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 91.11%;
    padding: 14px 0;
  }

  .header__list {
    gap: 15px;
  }

  .header__menu {
    width: 37px;
    height: 46px;
  }
}
