.not-found {
  text-align: center;
}

.not-found__title {
  font-weight: 400;
  font-size: 140px;
  line-height: 1;
  padding: 321px 0 0;
  margin: 0;
}

.not-found__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  margin: 22px 0 0;
}

.not-found__link {
  color: #4285f4;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 188px 0 0;
}

@media screen and (max-width: 767px) {
  .not-found__title {
    font-size: 80px;
    padding: 238px 0 0;
    margin: 0;
  }
  .not-found__text {
    font-size: 12px;
    margin: 20px 0 0;
  }

  .not-found__link {
    font-size: 12px;
    margin: 287px 0 0;
  }
}
